body{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 300;
    /*margin-left: 15%;*/
    background-color: #222222;
    color: white
}

h1{
    margin: auto;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 36;
    font-weight: 400;
}

h2{
    margin-top: 5%;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 36;
    font-weight: 400;

}
h3{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 24;
    font-weight: 300;
}
video{
    width: 100%;
}

/*
#ourTreatments{
    margin-left: 15%;
    margin-right: 15%;
}*/
.sectionIndex{
    margin-left: 15%;
    margin-right: 15%;
}

#ourTreatmentsText{
    margin-left: 35%;
}
#forBusinesses{
    background-color: #FCEAC6;
    color: #222222; 
}


/*
#forBusinessesContainer{
    margin-left: 15%;
    margin-right: 15%;
}*/
#forBusinessesText{
    margin-right: 50%;
}
/*
#price{
    margin-left: 15%;
    margin-right: 15%; 
}*/
#logoBig{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/*#price{
    margin-left: 15%;
    margin-right: 15%; 
}*/
