body{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 300;
    background-color: #222222;
    color: white
}

/*common attr. for h1-h3*/
h1, h2, h3{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
}

/*common attr. for h1,h2*/
h1, h2{
    font-size: 36px;
    font-weight: 400;
}

/*Styling for inividual header-el.*/
h1{
    margin: auto;
}

h2{
    margin-top: 5%;
}
h3{
    font-size: 24px;
    font-weight: 300;
    line-height: 0.25;
    text-decoration: underline;
}

.greenButton {
    background-color: #678D58;
    color: #FFFFFF;
    font-size: 20px;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px #222222;
    transition: 0.7s;
}
.greenButton:hover{
  cursor: pointer;
  background-color: #81b16f;
  /*transition: all 0.35s linear;*/

}
.greenButton:active {
  box-shadow: inset 5px 5px 5px #222222;
}

#about .greenButton:active, #book .greenButton:active,
#ourTreatmentsBack .greenButton:active, #priceList .greenButton:active{
  box-shadow: inset 5px 5px 5px #000000;
}

#about .greenButton, #book .greenButton, #ourTreatmentsBack .greenButton,
#priceList .greenButton {
  box-shadow: 0px 4px 8px #000000;
}

/*----------------------index.html el. styling -------------------------*/


#treeVideo {
  opacity: 1;
  -webkit-animation: opacity 5s ease-in;
  -moz-animation: opacity 5s ease-in;
  -ms-animation: opacity 5s ease-in;
  -o-animation: opacity 5s ease-in;
  animation: opacity 5s ease-in;
  animation-name: fadeIn;
}

#logoBig {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

#treeVideo.fade-in {
  opacity: 0;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

video{
    width: 100%;
}

#arrow {
  width: 40px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  size: auto;
}


#landingPage {
  position: relative;
}

#logoBig {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

#treeImage {
  display: none;
}

@media only screen and (max-width: 940px) {
video {
  display: none;
  }
#treeImage {
  display: inline;
  height: auto;
  width: 100%;
  }
}

#expansionArrow{
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: -2%;
  background-image: url("../img/expand_arrow.png");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border:none;
}





#expandedTreatments{
  display: none;/* !important;
  /*position: absolute;
  visibility:hidden;
  display:none;*/
  max-height: 0;
  transition: max-height 1s ease-out;
}


.treatmentCategory{
  margin-left:10%;
}

.treatmentCategory h3{
  width:16ch;
  height: 3%;
}

#ourTreatments, #forBusinesses,.treatmentCategory{
  display: flex;
  flex-direction: row;
}

.treatmentTxt_container{
  flex:60%;
  padding: 5%;
  padding-right: 20%;
  margin-left: 2%;
  }

.treatment_IMG_h3_container{
  flex: 10%;
}

.treatmentIMG{
  width:20vw;
  height:30vh;
  margin-top:5%;
  object-fit: cover;
}



#ourTreatmentsText, #forBusinessesText{
  flex: 120%;
}

#ourTreatmentsImgDiv,  #forBusinessesImgDiv{
  flex: 80%;
  position: relative;
}

#ourTreatmentsImg{
  width: 80%;
  height: 63%;
  margin-left: 10%;
  object-fit: cover;
  position: absolute;
  bottom: 7.5%;
}

#forBusinessesImg{
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-left: 5%;
  margin-top: 25%;
}

#ourTreatmentsText{
  margin-right: 5%;
}

#forBusinessesText{
  margin-left: 5%;
}

#forBusinesses{
  padding-bottom: 7%;
  color: #222222;
  background-color: #FCEAC6;
}

#forBusinesses .greenButton{
  margin-left: 75%;
}

#ourTreatmentsBack{
  padding-bottom: 3%;
}

#ourTreatmentsBack .greenButton{
  margin-left: 87%;
  box-shadow: 0px 4px 8px #000000;
}

#priceList ul{
  list-style-type: none;
  padding-left: 0;
}


#priceList p{
  max-width:50%;
}
#priceList .greenButton{
  margin-left: 65%;
  margin-top: -3em;
  display: block;
}


#priceList {
  margin-left: 5%;
  padding-bottom: 5%;
}

/*-----Styling common-el. in book.html + contact_us.html------*/
#message,.name, #treatment, .phoneNumber, #date,.email, #time, #subject{
    background-color: #FCEAC6;
    color: #222222;
    border: 1.5px solid #222222;
    border-radius: 5px;
    font-size: 20px;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
}

/*same styling for name- and treatment-input*/
/*(name occurs in contact_us.html + book.html)*/
.name, #treatment {
    width: 100%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

/*same styling for phoneNumber- and date-input*/
/*(phoneNumber occurs in contact_us.html + book.html)*/
.phoneNumber, #date {
    width: 79%;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
 }
/*same styling for email- and time*/
/*(email occurs in contact_us.html + book.html)*/
.email, #time {
    width: 100%;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*input for phone + email is same as input for date + time*/
.phoneAndEmail, #dateAndTime {
    display: flex;
    flex-direction: row;
}

.innerPhoneAndEmail,.innerDateAndTime {
    flex: 100%;
}

form .greenButton {
    float: right;
}


#bookForm input:not(.greenButton):valid, #contactForm input:not(.greenButton):valid{   
  border: 2px solid #77b160;
}



/*-------------------contact_us.html el. styling -----------------------*/
#contactUs {
  width: 100%;
  background-color: #FCEAC6;
}

#contactUs label{
    color: #222222;
}

#message {
  width: 100%;
  height: 100px !important;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  resize: none;
}


#subject {
  width: 40%;
  margin-top: 2%;
  margin-bottom: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*----------------------book.html el. styling -------------------------*/
#book{
    background-color: #222222;
    color: #FCEAC6;
    width: 100%;
  }


form{
    padding: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

/*input fields in book.html*/
#bookForm input:not(.greenButton), #bookForm select {
    background-color: #222222;
    border: 1.5px solid #FCEAC6;
    color: #FCEAC6;
}

/*---------styling for about_us.html-----------*/
#about{
    background-image: url("../img/tree_breeze_Moment.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#AboutUs   {
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 200;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #222222;
    color: white;
    padding: 5% 10%;
}

#AboutUs h2, .whoWeAreText2{
    margin-bottom: 15%;
}

.divBorder{
    display:flex;
    flex-direction: row;
    width:120%;
    margin-bottom: 15%;
}
.leftPicBox, .rightPicBox{
    flex: 100%;

}

.nameMasseuses, .massageType{
    margin-left: 9%;
    margin-right: 9%;
}

.massageType{
    width: 10ch;
}

#AboutUs .greenButton{
    margin-left: 37%; /* knappen skal være i midten*/
    margin-right: 37%;
    margin-bottom: 15%;
}

#imgSlide{
    width:auto;
    height:45vh;
}

#imageCarouselText{
    margin-left: 37%;
    margin-right: 37%;
    margin-bottom:15%;
}
.Address{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    display:flex;
    flex-direction: row;
}


#map{
    flex:10%;
    width: 60px;
    height: 180px;
    margin-left: 10%;
}
.contactInfo{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 15%;
}
