

h2{
    margin-top: 5%;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 36;
    font-weight: 400;

}
body{
    background: #222222;
}

.greenButton {
    background-color: #678D58;
    color: #FFFFFF;
    font-size: 20px;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px #222222;
    float: right;
}
/*---------styling for about_us.html-----------*/
#AboutUs   {
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 24px; 
    font-weight: 200;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #222222;
    color: white;
}

#AboutUs h2, .whoWeAreText2{
    margin-bottom: 15%;
}

.divBorder{
    display:flex;
    flex-direction: row;
    width:120%;
    margin-bottom: 15%;
}
.leftPicBox, .rightPicBox{
    flex: 100%;

}

.nameMasseuses, .massageType{
    margin-left: 9%;
    margin-right: 9%;
}

.massageType{
    width: 10ch;
}

#AboutUs .greenButton{
    float:none;
    margin-left: 37%; /* knappen skal være i midten*/
    margin-right: 37%; 
    margin-bottom: 15%;
}

#imageCarousel{
    width: 40vw;
    height:45vh;
    border: 2px solid red; /*her skal image carousel være*/
}

#imageCarouselText{
    margin-left: 37%;
    margin-right: 37%;
    margin-bottom:15%;
}
.Address{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    display:flex;
    flex-direction: row; 
}

#map{
    flex:10%;
    width: 60px;
    height: 180px;
    margin-left: 10%;
}
.contactInfo{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 15%;
}
