body{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 300;
    background-color: #222222;
    color: white
}

/*common attr. for h1-h3*/
h1, h2, h3{
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
}

/*common attr. for h1,h2*/
h1, h2{
    font-size: 36;
    font-weight: 400;
}

/*Styling for inividual header-el.*/
h1{
    margin: auto;
}

h2{
    margin-top: 5%;
}
h3{
    font-size: 24;
    font-weight: 300;
}

video{
    width: 100%;
}
.intro{
    color: #ffffff;
    line-height: 200%;
}

#ourTreatments, #forBusinessesContainer, #price {
    margin-left: 15%;
    margin-right: 15%;
}

#ourTreatmentsText{
    margin-left: 35%;
}
#forBusinesses{
    background-color: #FCEAC6;
    color: #222222;
}

#forBusinessesText{
    margin-right: 50%;
}

#logoBig{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/*-----Styling common-el. in book.html + contact_us.html------*/
#message,.name, #treatment, .phoneNumber, #date,.email, #time, #subject{
    background-color: #FCEAC6;
    color: #222222;
    border: 1.5px solid #222222;
    border-radius: 5px;
    font-size: 20px;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;   
}

/*same styling for name- and treatment-input*/
/*(name occurs in contact_us.html + book.html)*/
.name, #treatment {
    width: 100%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

/*same styling for phoneNumber- and date-input*/
/*(phoneNumber occurs in contact_us.html + book.html)*/
.phoneNumber, #date {
    width: 79%;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
 }
/*same styling for email- and time*/
/*(email occurs in contact_us.html + book.html)*/
.email, #time {
    width: 100%;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}
  
/*input for phone + email is same as input for date + time*/
.phoneAndEmail, #dateAndTime {
    display: flex;
    flex-direction: row;
}
  
.innerPhoneAndEmail,.innerDateAndTime {
    flex: 100%;
}

.greenButton {
    background-color: #678D58;
    color: #FFFFFF;
    font-size: 20px;
    font-family: degular,Verdana, sans-serif;
    font-style: normal;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px #222222;
    float: right;
}
  
.greenButton:active {
box-shadow: inset 5px 5px 5px #222222;
}

/*-----Styling common-el. in book.html + contact_us.html ends here------*/

/*-------------------contact_us.html el. styling -----------------------*/
#contactUs {
  width: 100%;
  background-color: #FCEAC6;
}

#contactUs label{
    color: #222222;
}

#message {
  width: 100%;
  height: 100px !important;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  resize: none;
}


#subject {
  width: 40%;
  margin-top: 2%;
  margin-bottom: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*----------------------book.html el. styling -------------------------*/
#book{
    background-color: #222222;
    color: #FCEAC6;
    width: 100%;
  }


form{
    padding: 10%;
    padding-left: 10%;
    padding-right: 10%;
}



/*input fields in book.html*/
#bookForm input:not(.greenButton), #bookForm select {
    background-color: #222222;
    border: 1.5px solid #FCEAC6;
    color: #FCEAC6;
}
